:root {
    --fontSize: 1rem;

    --fillMain:#323232;
    --fillSecond: #AFAFF9;
    --fillThird: white;
    --fillFourth:#585858;
    --fillFifth: rgba(80, 80, 80, 0.5);
    --fillSixth: #ebe4e4;
    --fillSeventh:#b1b0b0;
    --primary: #6C63FF;
    --secondary: #FF6584;
    --fillBlurDark: #041634d9;
    --fillBlurLight: rgb(255 255 255 / 18%);

    --shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    --shadowlight: 0 0 30px rgb(175 175 249);
    --transition: ease all .24s;
}

[data-theme="light"] {
    --fillMain: #ffffff;
    --fillSecond: #AFAFF9;
    --fillThird: #545252;
    --fillFourth: #f5f5f5;
    --fillFifth: rgb(204 191 241 / 50%);
    --fillSixth: #ffffff;
    --fillBlurDark: rgba(255, 255, 255, 0.85);
    --fillBlurLight: rgba(0, 0, 0, 0.1);
    --text-primary: #333333;
    --text-secondary: #666666;
    --background: #ffffff;
    --surface: #f8f9fa;
    --border: #e0e0e0;

    --shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: calc(var(--fontSize) * 7.5);
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--fillThird);
    min-height: 100vh;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: var(--transition);
}

svg {
    width: 100%;
    height: 100%;
}

.bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    background-color: var(--fillMain);
    transition: var(--transition);
    pointer-events: none;
}

@keyframes float1 {
    0%{transform: translate(0, 0)}
    50%{transform: translate(-10px, 0)}
    100%{transform: translate(0, 0)}
}

.triangle-float1 {
    animation: float1 4s infinite;
}

@keyframes float2 {
    0%{transform: translate(0, 0)}
    50%{transform: translate(-5px, -5px)}
    100%{transform: translate(0, 0)}
}

.triangle-float2 {
    animation: float2 4s infinite;
}

@keyframes float3 {
    0%{transform: translate(0, 0)}
    50%{transform: translate(0, -10px)}
    100%{transform: translate(0, 0)}
}

.triangle-float3 {
    animation: float3 6s infinite;
}

.triangle-float1, .triangle-float2, .triangle-float3 {
    fill: #735fbb24;
    transition: var(--transition)
}


main, .skills, .projects {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

section, footer {
    padding: 4rem 0;
}

p {
    color: var(--fillSeventh);
}

a {
    text-decoration: none;
    color: var(--fillSixth);
    text-shadow: 1px 1px 2px rgb(129 107 107 / 70%);
}

h1 {
    font-size: 2.2rem;
    background: linear-gradient(135deg, #AFAFF9 0%, #8A8AFA 50%, #de0ee1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin: 0 0 1rem;
    margin-top: 0.3rem
}
.container {
    max-width: 84rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
}

.btn {
    background-color: var(--fillSecond);
    border: none;
    color: white;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 3rem;
    transition: var(--transition);
    box-shadow: var(--shadow);
    display: inline-block;
    text-align: center;
}

.btn:active {
    transform: translateY(-0.5rem);
    box-shadow: 0 15px 30px rgba(108, 99, 255, 0.3);
}

.theme {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: var(--transition);
    margin-right: 1rem;
    width: 1.5rem;
    height: 3rem;
    color: var(--fillSecond);
    padding: 0;
    margin-top;: 1;
}

.theme:active {
    background: var(--fillBlurLight);
}

.theme svg {
    transition: transform 0.5s ease;
}

.theme:active svg {
    transform: rotate(180deg);
}

.container.--up {
    position: fixed;
    bottom: 1.5em;
    left: 50%;
    translate: -50% 0;
    z-index: 999;
}

.scroll {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 111;
    transition: var(--transition);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: var(--fillSecond);
}

.scroll__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: var(--transition);
    backdrop-filter: blur(10px);
}

.scroll:active .scroll-image {
    transform: scale(1.1);
}

.scroll:active {
    transform: scale(1.1);
}

/* header */
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 0 1rem #0000001c;
    background-color: var(--fillFifth);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(10px);
    padding: 0.5rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 0.6rem;
    width: 1.8rem;
    height: 3.3rem;
    color: var(--fillThird)
}

.menu a {
    color: var(--fillSixth);
}

.pcmenu {
    display: none;
}

.menu {
    position: fixed;
    top: 3.75rem;
    left: -100%;
    width: 70%;
    max-width: 17.5rem;
    height: calc(100vh - 3.75rem);
    padding: 1.25rem;
    margin: 0;
    list-style: none;
    transition: var(--transition);
    z-index: 90;
    background-color: var(--fillFifth);
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(10px);
}

.menu.active {
    left: 0;
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(10px);
}

.menu a {
    padding: 0.625rem 1.25rem;
    display: inline-block;
    text-shadow: 1px 1px 2px rgb(129 107 107 / 70%);
}

.menu a:active {
    transform: scale(1.1);
    transition: var(--transition);
    color: var(--fillSecond);
}

.logo {
    width: 6.8rem;
    height: 2.8rem;
}

/* main */
.main {
    padding-top: 3rem;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile__photo {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 11px solid var(--fillMain);
    box-shadow: var(--shadow);
    transition: var(--transition);
    overflow: hidden;

}

.profile__photo img {
    height: 110%;
    width: 100%;
    display: block;
    margin-top: 0.5rem;
    transform: translateX(-6%);
    transform: scale(0.94);
}

.profile__photo:active {
    transform: scale(1.05);
    box-shadow: var(--shadowlight);
    transition: var(--transition);
}

.typewriter {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: var(--fillThird)
}

.main__buttons {
    margin-top: 2rem;
    opacity: 0.95;
    transition: var(--transition);
}

.wrap {
    display: flex;
    justify-content: space-between;
}

/* skills */
.skills img {
    scale: 1.6;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
}

.skills__item {
    background: var(--fillMain);
    padding: 1.25rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
}

.skills__item:active {
    box-shadow: var(--shadowlight);
    transition: var(--transition);
}

.skills {
    gap: 2rem;
    display: grid;
    margin-top: 4rem;
}

.skills__item:active {
    transition: var(--transition);
}

.skills__item-icon {
    width: 2rem;
    height: 2rem;
    color: var(--fillSecond);
}

/* projects */
.projects__site-description {
    color: var(--fillThird);
    text-align: center;
    min-height: 2.5rem;
}

.projects__back h3 {
    text-align: center;
    margin: 1rem;
}

.projects__site-photo {
    text-align: center;
    position:  relative;
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
}

.projects .btn {
    width: 94%;
    margin: 2rem auto;
    display:flex;
    justify-content: center;
}

.projects__back {
    background: var(--fillMain);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    margin-top: 4rem;
}

.projects__back:active {
    box-shadow: var(--shadowlight);
}

.projects__site {
    display: flex;
    flex-direction: column;
}

img.projects__site-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* swiper */
.projects .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 1.5rem;
}

.swiper-pagination {
    text-align: center;
}

.projects .swiper-button-next {
    right: 0rem;
    top: 12rem;
}

.projects .swiper-button-next::after {
    color: var(--fillSecond);
    font-size: calc(var(--fontSize) * 1.6);
}

.projects .swiper-button-prev {
    left: 0rem;
    top: 12rem;
}

.projects .swiper-button-prev::after {
    color: var(--fillSecond);
    font-size: calc(var(--fontSize) * 1.6);
}

.projects .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--fillSecond);
}

.swiper-slide.swiper-slide-active {
    opacity: 1;
    pointer-events: all;
}

.swiper-slide.swiper-slide-prev, .swiper-slide.swiper-slide-next {
    opacity: 0;
}

.swiper-slide {
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* services */
.tech__steck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.875rem;
    margin-top: 4rem;
}

.services__back {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fillMain);
    border-radius: 50%;
    margin-bottom:  0.9rem;
    box-shadow: var(--shadow);
    transition: var(--transition);
    color: var(--fillSecond);
    padding: 1rem;
    overflow: hidden;
}

.services__back:active {
    transition: var(--transition);
    transform: translateY(-0.5rem);
}

.services__back:active {
    transition: var(--transition);
    transform: translateY(-0.5rem);
    box-shadow: var(--shadowlight);
}

.servis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servis:nth-child(3n) svg {
    width: 80%;
    height: 80%;
}

.servis h3 {
    font-size: 1.2rem;
}

/* contacts */
.contacts__block a {
    transition: var(--transition);
    display: inline-block;
}

.contacts__block a:active {
    transform: scale(1.1);
    color: var(--fillSecond);
    text-shadow: 0 0 10px rgba(175, 175, 249, 0.3);
}

.contacts__pic {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fillMain);
    border-radius: 50%;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.contacts__block a:active {
    transform: scale(1.1);
    color: var(--fillSecond);
    text-shadow: 0 0 10px rgba(175, 175, 249, 0.3);
}

.contacts__block-info {
    display: flex;
    flex-direction: column;
}

.contacts__block-info a {
    color: var(--fillThird);
}

.contacts__block {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contacts__blocks {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem;
}

.contacts__block-icon {
    width: 2rem;
    height: 2rem;
    color: var(--fillSecond);
}

.profile__photo, .profile__text, .skills__item,
.projects__back, .services__back, .contacts__block {
    opacity: 0;
    transform: translateY(30px);
    transition: var(--transition);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

img.contacts__block-icon {
    width: 2rem;
    height: 2rem;
    flex: none;
    color: var(--fillSecond)
}

@media (min-width: 768px) {

    .navbar {
        justify-content: center;
    }

    .menu li {
        margin-left: 2.8rem;
        margin-bottom: 0;
    }

    .contacts__block {
        display: flex;
        flex-direction: row;
    }

    .swiper-slide.swiper-slide-prev, .swiper-slide.swiper-slide-next {
    opacity: 1;
    }

    .skills, .projects {
        min-height: 0;
    }

    .contacts, .services {
        padding: 4rem 0;
    }

    .contacts {
        padding-bottom: 10rem;
    }

}

@media (min-width: 1240px) {

    h1{
        font-size: 3.5rem;
    }

    .scroll {
        cursor: pointer;
    }

    .btn:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 15px 30px rgba(108, 99, 255, 0.3);
    }

    /* header */
    .hamburger {
        display: none;
    }

    .navbar__elements {
        position: fixed;
    }

    .bar {
        display: none;
    }

    .pcmenu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        gap: 1.875rem;
    }

    .pcmenu a:hover {
        border-bottom: 4px solid var(--fillSecond);
        transition: var(--transition);
        color: var(--fillSecond);
    }

    .theme {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* main */
    main {
        min-height: 100vh;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile__photo:hover {
        transform: scale(1.05);
        box-shadow: var(--shadowlight);
        transition: var(--transition);
    }

    .profile {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .profile__text {
        text-align: left;
    }

    .profile__photo {
        justify-content: center;
        width: 22rem;
        height: 22rem;
    }

    .profile__photo img {
    transform: scale(0.9);
    }

    /* skills */
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .skills__item:hover {
        box-shadow: var(--shadowlight);
        transition: var(--transition);
    }

    /* services */
    .servis:hover .services__back {
        transition: var(--transition);
        transform: translateY(-0.5rem);
        box-shadow: var(--shadowlight);
    }

    .servis h4 {
        transition: var(--transition);
    }

    .servis:hover h4 {
        color: var(--fillSecond)
    }

    /* projects */
    .projects__back:hover {
        box-shadow: var(--shadowlight);
    }

    /* contacts */
    .contacts__block a {
        transition: var(--transition);
        display: inline-block;
    }

    .contacts__block a:hover {
        transform: scale(1.1);
        color: var(--fillSecond);
        text-shadow: 0 0 10px rgba(175, 175, 249, 0.3);
    }

    .contacts__blocks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .contacts__block a {
        transition: var(--transition);
        display: inline-block;
    }

    .contacts__block a:hover {
        transform: scale(1.1);
        color: var(--fillSecond);
        text-shadow: 0 0 10px rgba(175, 175, 249, 0.3);
    }
}

